.Number1{
    background-color: #ffb6c1;
    font-family: 'Verdana, DejaVu Sans', sans-serif ;
}
#Number2{
    color: #0000ff;
    font-size: 36px;
}
.Number3{
    background-color: #ffb6c1;
    font-family: 'Verdana, DejaVu Sans', sans-serif;
    font-size: 24px;
}
#Number4{
    background-color: #90ee90;
    font-size: 24px;
    font-weight: bold;
}
.Number5{
    background-color: #ffb6c1;
    font-family: 'Verdana, DejaVu Sans', sans-serif ;
}
